@import "../libs/bootstrap/scss/my-variables"
@import "../libs/bootstrap/scss/bootstrap"
@import "_mixins/mixins"
@import "_mixins/mixin"
@import "vars"
@import "fonts"

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
			outline: none
			&:focus:required:invalid
				border-color: red
			&:required:valid
				border-color: green
.clearfix
	display: block
	clear: both
	content: ""

.login
	font-size: .8em
	font-family: $extrabold-font
	ul
		li:first-child
			border-right: 1px solid $light
	.btn-sm
		&:hover
			background-color: $primary
			transition: .8s

button.btn-sml
	border-radius: 50px
	border: none
	font-size: .8em
	font-family: $extrabold-font
	+transition (all, .3s)
	&:focus
		outline: none
		box-shadow: none
	&:hover
		background-color: $secondary

button.btn-sml.inverse
	background-color: $secondary
	&:hover
		background-color: $primary

.paral
	padding: 219px 0px 197px 0px
	background-image: url(../img/bg-1-1.jpg)
	background-attachment: fixed
	background-size: cover
	background-position: center
	h2
		font-family: Montserrat-light
		line-height: 1em
	h1
		font-family: Montserrat-ExtraBold
		line-height: 0.9em
	p
		font-family: Montserrat-light
		font-size: 1em

.navbar-content 
	position: absolute
	top: 100px
	right: 70px
	left: 70px
	.navbar-nav
		a
			color: $light
			font-weight: normal
			font-size: 0.8em
			font-family: Montserrat-Bold
			&:hover
				color: $red
				transition: .5s
		li.active a
			color: $red

.navbar-collapse
	z-index: 999

.who
	background-image: url(../img/bg-2-1.jpg)
	background-repeat: no-repeat
	background-size: cover
	padding: 91px 0px 300px 0px
	span
		font-size: 1em 
		letter-spacing: 2px
	h2
		font-size: 3em
		line-height: 1.5em
	p
		font-family: Montserrat-Light
	&-boxes
		margin-top: -217px
		.col-12
			padding: 35px 50px 63px 58px
			border-right: 2px solid $white
			border-left: 2px solid $white
			&::before
				+pseudo
				top: 0
				left: 0
				width: 100%
				height: 4px
				opacity: 0
				background-color: transparent
				+transition(all, 0.6s)
			&:hover
				&::before
					background-color: $secondary
					opacity: 1	
		.iconsmind
			font-size: 6em
		h6
			letter-spacing: 1.6px
			font-family: Montserrat-SemiBold
			font-size: 1em
			margin-top: 34px
		p
			line-height: 28px
			font-family: Montserrat-Regular
			margin-top: 15px
			letter-spacing: 1px

.international
	h2
		line-height: 1.9em
		font-size: 3em
		font-family: Montserrat-SemiBold
	img
		margin: 
			left: 2px
			right: 2px

.benefits
	color: $white
	.iconsmind
		font-size: 50px

.benefits__number
	font-size: 48px
	font-family: Montserrat-Bold
	margin-top: 20px

.tonnes
	font-family: Montserrat-SemiBold
	letter-spacing: .2em

.paral-2
	background-image: url(../img/bg-3-1.jpg)
	background-attachment: fixed
	background-size: cover
	background-position: center
	span
		letter-spacing: 2px
	h2
		line-height: 1.9em
	.iconsmind
		font-size: 65px
	.wwd
		background-color: rgba(255, 255, 255,.1)
		transition: all .3s ease
		min-height: 325px
		margin-top: 30px
		&:hover
			background-color: rgba(255, 255, 255,.2)
		a
			font-family: Montserrat-Bold
		.light
			font-family: Montserrat-light

.offline
	p
		font-family: Montserrat-Light
	.carimg
		background-image: url(../img/img-1.jpg)
		background-repeat: no-repeat
		background-position-x: center
		background-position-y: top

.paral-3		
	background-image: url(../img/img-5.jpg)
	background-attachment: fixed
	background-size: cover
	background-position: center	
	.fa-quote-left
		font-size: 26px
	.footer
		font-size: 18px
		font-family: Montserrat-SemiBold
		p
			font-size: 1em
	.blockquote
		p
			font-size: 15px
			line-height: 2.1em
			letter-spacing: .8px
.blog
	span
		color: $dark
		text-transform: capitalize
		a
			font-size: 1em
		.time
			color: $dark
			&:hover
				color: $secondary
	.rewie
		font-family: Montserrat-Bold
		.fa-comment-alt
			margin-left: 10px
			margin-right: 5px
			color: $secondary
.email
	input[type='text'], input[type='email'], textarea
		background-color: transparent
		hyphens: none
		border: none
		border-bottom: 1px solid #555
		margin-top: 20px
		border-radius: 0
		&:focus
			border-bottom: 1px solid $primary
			transition: all .3s ease
	::-webkit-input-placeholder 
		color: $white
	:-moz-placeholder 
		color: $white
	::-moz-placeholder 
		color: $white
	:-ms-input-placeholder
		color: $white
.ask
	p
		font-family: Montserrat-Light
		letter-spacing: 1px
	button
		&:hover
			background-color: $primary

.container-fluid
	max-width: 1200px

span
	color: $primary
	font-family: Montserrat-SemiBold
	text-transform: uppercase

h2
	font-family: Montserrat-Bold




@import "media" // Always at the end
